<footer class="footer">
    <section class="contactos" id="contactos">
        <div class="footer-contenedor">
            <!-- Marca -->
            <div class="footer-columna marca-footer">
                <img src="assets/logoLetras.png" alt="Carina Di Fonzo">
                <p>
                    Conectando personas con oportunidades laborales de forma rápida,
                    segura y confiable.
                </p>
            </div>

            <!-- Navegación -->
            <div class="footer-columna">
                <h4>Navegación</h4>

                <a routerLink="/home">Inicio</a>
                <a (click)="irAOfertas()">Buscar ofertas</a>
                <a routerLink="/empresas">Empresas</a>
            </div>

            <!-- Contacto -->
            <div class="footer-columna">
                <h4>Contacto</h4>
                <p>
                    <span class="material-icons">location_on</span>
                    Santiago del Estero, Argentina
                </p>
                <p>
                    <span class="material-icons">mail</span>
                    contacto&#64;carinadifonzo.com
                </p>
                <p>
                    <span class="material-icons">phone</span>
                    +54 385 XXX XXXX
                </p>
            </div>
            <!-- Redes -->
            <div class="footer-columna">
                <h4>Seguinos</h4>

                <div class="footer-redes">

                    <a href="https://www.facebook.com/carina.difonzo.3" target="_blank" rel="noopener noreferrer"
                        title="Facebook">
                        <img src="assets/facebook-icon.png" alt="Facebook">
                    </a>

                    <a href="https://www.instagram.com/carina.difonzo/" target="_blank" rel="noopener noreferrer"
                        title="Instagram">
                        <img src="assets/instagram-icon.png" alt="Instagram">
                    </a>

                    <a href="https://www.linkedin.com/company/carina-di-fonzo-organizaci-n-&-empleo/" target="_blank"
                        rel="noopener noreferrer" title="LinkedIn">
                        <img src="assets/linkedin-icon.png" alt="LinkedIn">
                    </a>

                </div>

            </div>

        </div>

        <div class="footer-copy">
            © {{ currentYear }} Carina Di Fonzo · Organización & Empleo · Todos los derechos reservados.
        </div>
    </section>
</footer>