<div class="login-wrapper">
    <div class="login-card">
        <div class="avatar">
            <img src="/assets/logo.jpg" alt="Usuario" />
        </div>

        <h2>🔁 Restablecer Contraseña</h2>

        <form [formGroup]="form" (ngSubmit)="resetear()">
            <div class="form-group">
                <label for="newPassword">Nueva contraseña</label>
                <input formControlName="newPassword" type="password" id="newPassword"
                    placeholder="Ingresá tu nueva contraseña" required
                    [class.invalid]="form.get('newPassword')?.invalid && form.get('newPassword')?.touched" />

                <div *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.hasError('required')"
                    class="error">
                    Contraseña requerida
                </div>

                <div *ngIf="form.get('newPassword')?.dirty && form.get('newPassword')?.hasError('pattern')"
                    class="error">
                    Debe tener 8–12 caracteres, una mayúscula, una minúscula, un número y un símbolo
                </div>
            </div>

            <button type="submit" [disabled]="form.invalid">🔓 Actualizar</button>

            <div class="links">
                <a (click)="volverLogin()">¿Deseás regresar al login?</a>
            </div>
        </form>

        <div class="spinner-container" *ngIf="isLoading">
            <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
        </div>

        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
</div>