<mat-card class="form-card">
    <mat-card-title>🔁 Restablecer Contraseña</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="resetear()">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Nueva contraseña</mat-label>
                <input matInput formControlName="newPassword" type="password" placeholder="Ingresá tu nueva contraseña"
                    required>
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="form.get('newPassword')?.hasError('required') && form.get('newPassword')?.touched">
                    Contraseña requerida
                </mat-error>
                <mat-error *ngIf="form.get('newPassword')?.hasError('pattern') && form.get('newPassword')?.dirty">
                    Debe tener 8–12 caracteres, una mayúscula, una minúscula, un número y un símbolo
                </mat-error>
                <mat-icon *ngIf="form.get('newPassword')?.valid && form.get('newPassword')?.dirty" style="color: green;"
                    matSuffix>
                    check_circle
                </mat-icon>
                <mat-icon *ngIf="form.get('newPassword')?.invalid && form.get('newPassword')?.dirty" style="color: red;"
                    matSuffix>
                    error
                </mat-icon>

            </mat-form-field>
            <button mat-raised-button color="accent" class="full-width" type="submit" [disabled]="form.invalid">
                🔓 Restablecer
            </button>
            <p><a routerLink="/login-user">¿Regresar al login?</a></p>
        </form>
    </mat-card-content>
    <div class="spinner-container" *ngIf="isLoading">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>

</mat-card>