<div class="login-wrapper">
    <div class="login-card">
        <div class="avatar">
            <img src="/assets/logo.jpg" alt="Usuario" />
        </div>

        <h3> Recuperar Contraseña</h3>

        <div class="icono-candado">
            <img src="/assets/candado.png" alt="Candado de seguridad" />
        </div>


        <form [formGroup]="form" (ngSubmit)="enviarSolicitud()">
            <div class="form-group">
                <label for="clave">Nombre de usuario</label>
                <input formControlName="clave" type="text" id="clave" placeholder="Ingresá tu nombre de usuario" />
                <div *ngIf="form.get('clave')?.invalid && form.get('clave')?.touched" class="error">
                    Nombre de usuario requerido
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input formControlName="email" type="email" id="email" placeholder="Ingresá tu email" />
                <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error">
                    Email requerido
                </div>
            </div>
            <button type="submit" [disabled]="form.invalid">📧 Enviar enlace</button>
        </form>

        <div class="links">
            <a routerLink="/login-user">Volver al inicio de sesión</a>
        </div>

        <div class="spinner-container" *ngIf="isLoading">
            <mat-progress-spinner mode="indeterminate" color="accent">

            </mat-progress-spinner>
        </div>

        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
</div>