<mat-card class="form-card">
    <mat-card-title>🔐 Recuperar Contraseña</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="enviarSolicitud()">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" placeholder="Ingresá tu email" required>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="form.get('email')?.invalid">Email requerido</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" class="full-width">📧 Enviar enlace</button>
        </form>
    </mat-card-content>
    <div class="spinner-container" *ngIf="isLoading">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
</mat-card>