<div class="portada">
    <div class="corte-diagonal">
        <div class="lado-naranja">
            <img src="../../assets/FotoInicioCDF.jpg" alt="Foto institucional" class="imagen-fondo">
            <div class="bloque-institucional">
                <img src="../../assets/logo.jpg" alt="Logo Carina Di Fonzo" class="logo-real">
                <div class="texto-institucional">
                    <h1 class="nombre-empresa">CARINA DI FONZO</h1>
                    <p class="subtitulo">Organización & Empleo</p>
                </div>
            </div>

        </div>

        <div class="lado-gris">
            <div class="frase-gris">
                <p>Encontrá tu lugar. Cada talento merece una oportunidad.</p>
            </div>
        </div>

    </div>
</div>