<div class="modal-header">
    <h2 *ngIf="accion === 'crear'">Agregar Empresa</h2>
    <h2 *ngIf="accion === 'actualizar'">Modificar Empresa</h2>
</div>
<mat-dialog-content>
    <form [formGroup]="miFormulario" (ngSubmit)="guardar()" id="formEmpresa" class="form-empresa mejorado">
        <input type="hidden" formControlName="id_empresa">
        <hr class="mat-divider">
        <section class="form-section">
            <h3>Información de la Empresa</h3>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Nombre de la Empresa</mat-label>
                <input matInput placeholder="Ingrese el nombre de la empresa" formControlName="nombreEmpresa">
                <mat-error
                    *ngIf="miFormulario.get('nombreEmpresa')?.invalid && miFormulario.get('nombreEmpresa')?.touched">
                    El nombre es obligatorio.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Historia</mat-label>
                <textarea matInput rows="8" placeholder="Describa la historia de la empresa"
                    formControlName="historiaEmpresa">
                </textarea>
            </mat-form-field>
        </section>
        <hr class="mat-divider">
        <section class="form-section doble-columna">
            <mat-form-field appearance="fill">
                <mat-label>Dirección</mat-label>
                <input matInput placeholder="Dirección" formControlName="direccionEmpresa">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>CUIT</mat-label>
                <input matInput placeholder="Solo números" formControlName="cuitEmpresa">
                <mat-error *ngIf="miFormulario.get('cuitEmpresa')?.hasError('required')">
                    El CUIT es obligatorio.
                </mat-error>
                <mat-error *ngIf="miFormulario.get('cuitEmpresa')?.hasError('pattern')">
                    El CUIT debe contener únicamente números sin guiones.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Correo electrónico" formControlName="emailEmpresa">
                <mat-error *ngIf="miFormulario.get('emailEmpresa')?.hasError('required')">
                    El correo electrónico es obligatorio.
                </mat-error>
                <mat-error *ngIf="miFormulario.get('emailEmpresa')?.hasError('email')">
                    El formato del correo no es válido (ej: falta el "&#64;" o el dominio).
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Telefono</mat-label>
                <input matInput placeholder="Número de teléfono" formControlName="telefonoEmpresa">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Rubro</mat-label>
                <mat-select formControlName="idRubro">
                    <mat-option *ngFor="let rubro of rubros" [value]="rubro.idRubro">
                        {{ rubro.descripcionRubro }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="miFormulario.get('idRubro')?.hasError('required')">
                    El rubro es obligatorio.
                </mat-error>
            </mat-form-field>
        </section>
        <hr class="mat-divider">
        <section class="form-section">
            <div class="file-upload-container">
                <input type="file" #inputLogo accept="image/*" (change)="onLogoSeleccionado($event)" hidden>
                <button mat-raised-button color="primary" type="button" (click)="inputLogo.click()">
                    Seleccionar Logo
                </button>
                <div class="preview-container">
                    <!-- Preview de imagen nueva -->
                    <img *ngIf="imagenPreview" [src]="imagenPreview" alt="Vista previa logo" class="preview-img">
                    <!-- Logo existente de BD -->
                    <img *ngIf="!imagenPreview && imagenDesdeBD" [src]="uploadUrl + '/uploads/logos/' + imagenDesdeBD"
                        alt="Logo actual" class="preview-img">
                    <!-- Sin imagen -->
                    <div *ngIf="!imagenPreview && !imagenDesdeBD" class="sin-logo">
                        Sin logo
                    </div>
                </div>

            </div>
        </section>
        <hr class="mat-divider">
        <section class="form-section">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Observaciones</mat-label>
                <textarea matInput rows="5" placeholder="Observaciones" formControlName="observacionesEmpresa">
                </textarea>
            </mat-form-field>
        </section>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="cerrar()">
        Cancelar / Cerrar
    </button>
    <button mat-raised-button color="primary" type="submit" form="formEmpresa">
        Guardar
    </button>
</mat-dialog-actions>