@media (max-width:768px) {

  .columna-imagen {
    display: none;
  }

  .columna-titulo {
    display: none;
  }

  .layout-fijo {
    display: block;
    height: auto;
  }

  .columna-contenido {
    width: 100%;
    margin: 0;
    padding: 12px;
    height: auto;
  }

}

.form-oferta.mejorado {
  max-width: 750px;
  /* más compacto */
  margin: auto;
  padding: 1.5rem;
}

.form-section {
  margin: 1.5rem 0;
}

mat-form-field {
  width: 100%;
  /* asegura uniformidad */
}

.doble-columna {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.grande textarea {
  min-height: 200px;
  /* altura intermedia */
  resize: vertical;
  line-height: 1.4;
}

.form-section label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}

.inputModal {
  margin-top: 0.7rem;
}

.file-upload-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.preview-container {
  display: flex;
  margin-left: 1rem;
}

.preview-img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.8rem;
}