<app-cabecera></app-cabecera>
<main class="contenedor-principal">
    <section class="banner-empresas">
        <div class="contenido-banner">
            <h1>Empresas</h1>
            <p>
                Descubrí las organizaciones que publican sus búsquedas laborales
                en Carina Di Fonzo.
            </p>
            <mat-form-field appearance="outline" class="buscador">
                <mat-label>Buscar empresas</mat-label>
                <input matInput placeholder="Buscar empresa" [formControl]="buscarEmpresa">
                <button mat-icon-button matSuffix>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </section>
    <section class="contenedor-empresas">
        <div class="empresa-card" *ngFor="let empresa of empresasFiltradas">
            <img class="logoEmpresa" [src]="urlApi + '/uploads/logos/' + empresa.logo" alt="Logo de la empresa">
            <h3>{{empresa.nombre}}</h3>
            <p class="rubro">
                {{ empresa.rubro?.descripcionRubro }}
            </p>
            <p class="descripcion">
                {{empresa.historiaEmpresa}}
            </p>
        </div>
    </section>
</main>
<app-piedepagina></app-piedepagina>