<body>
    <section class="banner" style="font-family: 'Shippori Mincho', sans-serif;">
        <p>"El trabajo ideal</p>
        <p> no es solo un puesto, </p>
        <p> es una oportunidad para crecer y marcar la diferencia."</p>
    </section>

    <section class="propuestas">
        <h2>Propuestas</h2>
        <div class="card-list">
            <mat-card *ngFor="let oferta of getPaginatedDataOfertas()" class="card">
                <mat-card-header>
                    <mat-card-title>Oferta ID: {{ oferta.idOferta }}</mat-card-title>
                    <mat-card-subtitle>Empresa ID: {{ oferta.id_empresa}}</mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image [src]="'https://mi-servidor.com/uploads/' + oferta.nombreImagen" alt="Imagen de la oferta"> -->
                <img mat-card-image [src]="'assets/uploads/' + oferta.fotoOferta" alt="Imagen de la oferta">

                <mat-card-content>
                    <p>{{ oferta.descripcionOferta }}</p>
                </mat-card-content>

            </mat-card>
        </div>
    </section>
    <div class="pagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ getTotalPages() }}</span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === getTotalPages()">Siguiente</button>
    </div>
</body>