<body>
    <div *ngIf="userLoginOn">
        <section class="banner">
            <header class="hero">
                <div class="contenido-hero">
                    <h1 class="titulo">Explorá oportunidades de forma rápida y segura</h1>
                    <form class="form-busqueda" (submit)="searchJobs($event)">
                        <mat-form-field appearance="outline" class="selector">
                            <mat-label>Buscar por</mat-label>
                            <mat-select [(value)]="criterio">
                                <mat-option value="oferta">Oferta</mat-option>
                                <mat-option value="empresa">Empresa</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="input-expandido">
                            <input matInput [formControl]="ofertaEmpresa" placeholder="Oferta o Empresa">
                        </mat-form-field>

                        <button mat-raised-button color="primary" type="submit">
                            <mat-icon>search</mat-icon>
                        </button>
                    </form>
                </div>
            </header>
        </section>
    </div>


    <section class="propuestas">
        <h2>Propuestas</h2>
        <div *ngIf="busquedaRealizada; else mostrarTodo" class="card-list">
            <mat-card *ngFor="let oferta of resultados" class="card">
                <mat-card-header>
                    <mat-card-title>{{ oferta.empresa.nombre}}</mat-card-title>
                    <mat-card-subtitle>
                        <p>{{ oferta.nombreOferta }}</p>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img mat-card img [src]="'assets/uploads/fotos/' + oferta.fotoOferta" alt="Imagen de la oferta">
                </mat-card-content>
                <mat-card-footer>
                    <div *ngIf="userLoginOn" class="btnAplicar">
                        <button class="btn btn-primary"
                            (click)="aplicar(oferta.idOferta, oferta.nombreOferta)">Aplicar</button>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>

        <!-- Si no hay búsqueda, se muestra todo -->
        <ng-template #mostrarTodo>
            <div class="card-list">
                <mat-card *ngFor="let oferta of ofertas" class="card">
                    <mat-card-header>
                        <mat-card-title>{{ oferta.empresa.nombre }}</mat-card-title>
                        <mat-card-subtitle>
                            <p>{{ oferta.nombreOferta }}</p>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img mat-card img [src]="'assets/uploads/fotos/' + oferta.fotoOferta" alt="Imagen de la oferta">
                    </mat-card-content>
                    <mat-card-footer>
                        <div *ngIf="userLoginOn" class="btnAplicar">
                            <button class="btn btn-primary"
                                (click)="aplicar(oferta.idOferta, oferta.nombreOferta)">Aplicar</button>
                        </div>
                    </mat-card-footer>
                </mat-card>
            </div>
        </ng-template>

    </section>
    <div class="pagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ getTotalPages() }}</span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === getTotalPages()">Siguiente</button>
    </div>
</body>