<header>
    <div class="logo">
        <img src="assets/logo.png" alt="Logo">
    </div>
</header>

<main class="contenedor-principal">
    <div class="header-postulaciones">
        <h1>Mis Postulaciones</h1>
        <div class="btnAplicar">
            <div class="botones">
                <button mat-stroked-button class="btn-volver-custom" routerLink="/home">
                    Volver
                </button>
            </div>
        </div>
    </div>

    <table class="tabla-postulaciones">
        <thead>
            <tr>
                <th>Puesto</th>
                <th>Empresa</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Acciones</th> <!-- Agregada columna para botones -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of postulaciones" (click)="verDetalle(post)" class="fila-click">
                <td>{{ post.puesto }}</td>
                <td>{{ post.empresa }}</td>
                <td>{{ post.fecha | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>
                    <span class="estado" [ngClass]="post.estado ? 'activo' : 'inactivo'">
                        {{ post.estado ? 'Activo' : 'Inactivo' }}
                    </span>
                </td>
                <td class="acciones">
                    <!-- Pasamos $event como parámetro -->
                    <button *ngIf="post.estado" class="btn-accion eliminar"
                        (click)="EliminarPostulaciones($event, post)" title="Eliminar">
                        ❌
                    </button>

                    <!-- Pasamos $event como parámetro -->
                    <button *ngIf="!post.estado" class="btn-accion reactivar"
                        (click)="ReactivarPostulaciones($event, post)" title="Reactivar">
                        ↻
                    </button>
                </td>


            </tr>
        </tbody>
    </table>
</main>