<header *ngIf="mostrarCabecera">
    <div class="filaItems">
        <div class="logo">
            <img src="../../../assets/logo.png">
            <!-- Ajusta la altura según sea necesario -->
        </div>
        <div class="opciones" style="font-family: 'fuenteCabecera', sans-serif;">
            <div class="social-header">
                <nav class="social-menu">
                    <a href="https://www.facebook.com/carina.difonzo.3" target="_blank" rel="noopener">
                        <img src="../../../assets/facebook-icon.png" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/carina.difonzo/" target="_blank" rel="noopener">
                        <img src="../../../assets/instagram-icon.png" alt="Instagram">
                    </a>
                    <a href="https://www.linkedin.com/company/carina-di-fonzo-organizaci-n-&-empleo/" target="_blank"
                        rel="noopener">
                        <img src="../../../assets/linkedin-icon.png" alt="LinkedIn">
                    </a>
                    <div *ngIf="userLoginOn" class="perfil">
                        <p>
                            <img [src]="userProfileImage" alt="Foto de perfil" class="perfil-img" rel="noopener">
                        </p>
                        <p>{{ userName }}</p>
                    </div>
                    <app-navegacion> </app-navegacion>
                </nav>
            </div>
        </div>
    </div>
</header>