<header>
    <div class="filaItems">
        <div class="logo">
            <img src="../../../assets/logo.png">
            <!-- Ajusta la altura según sea necesario -->
        </div>
        <div class="opciones" style="font-family: 'fuenteCabecera', sans-serif;">
            <app-navegacion> </app-navegacion>
        </div>
        <div class="social-header">
            <nav class="social-menu">
                <a href="https://facebook.com" target="_blank" rel="noopener">
                    <img src="../../../assets/facebook-icon.png" alt="Facebook">
                </a>
                <a href="https://instagram.com" target="_blank" rel="noopener">
                    <img src="../../../assets/instagram-icon.png" alt="Instagram">
                </a>
                <a href="https://linkedin.com" target="_blank" rel="noopener">
                    <img src="../../../assets/linkedin-icon.png" alt="LinkedIn">
                </a>
                <a href="https://linkedin.com" target="_blank" rel="noopener">
                    <img src="../../../assets/watssap-icon.png" alt="LinkedIn">
                </a>
            </nav>
        </div>
    </div>
</header>