<div class="detalle-container" *ngIf="oferta">
    <!-- Header -->
    <div class="detalle-header">
        <div class="empresa-info">
            <img class="logo" [src]="'http://localhost:8080/uploads/fotos/' + oferta.fotoOferta"
                alt="Imagen de la oferta">

            <div class="textos">
                <h2 class="titulo-oferta">{{ oferta.nombreOferta }}</h2>
                <h3 class="empresa">{{ oferta.empresa.nombre }}</h3>
            </div>
        </div>

        <div class="btnAplicar">
            <div class="botones">
                <button mat-raised-button style="background-color: #f09b56; color: black;"
                    (click)="aplicar(oferta.idOferta, oferta.nombreOferta)">
                    Aplicar ahora
                </button>
                <button mat-stroked-button style="border: 1px solid #f57c00; color: #f57c00;" routerLink="/home">
                    Volver
                </button>
            </div>

            <!-- Contacto debajo -->
            <div class="contacto-info">
                <p class="contacto">
                    <mat-icon>email</mat-icon> {{ oferta.empresa.email }}
                </p>
                <p class="contacto">
                    <mat-icon>phone</mat-icon> {{ oferta.empresa.telefono }}
                </p>
                <p class="contacto">
                    <mat-icon>location_on</mat-icon> {{ oferta.empresa.direccion }}
                </p>
            </div>


        </div>

        <!-- Información principal -->
        <mat-card class="detalle-card">
            <mat-card-content>
                <section class="info-seccion">
                    <h3>💰 Salario</h3>
                    <p>{{ oferta.salario }}</p>
                </section>

                <section class="info-seccion">
                    <h3>📝 Descripción del puesto</h3>
                    <div [innerHTML]="getDescripcionFormateada(oferta.descripcionOferta)"></div>
                </section>
            </mat-card-content>
        </mat-card>
    </div>