.detalle-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.detalle-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px;
}


.empresa-info {
    display: flex;
    gap: 20px;
}

.logo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.titulo-oferta {
    margin: 0;
    font-size: 35px;
}

.titulo-oferta::first-letter {
    text-transform: uppercase;
}

.empresa {
    margin: 5px 0;
    font-weight: 500;
    color: #555;
}

.btnAplicar {
    display: flex;
    flex-direction: column;
    /* columna general: primero botones, luego contacto */
    align-items: flex-end;
    /* o center si preferís */
    gap: 15px;
}

.botones {
    display: flex;
    flex-direction: row;
    /* los botones en fila */
    gap: 10px;
    /* espacio entre ellos */
    flex-wrap: wrap;
    /* si no entra en móvil, se apilan */
}

.contacto-info {
    font-size: 14px;
    color: #555;
    text-align: right;
    /* acompaña alineación de botones */
}


.contacto {
    margin: 5px 0;
    font-size: 14px;
}


.info-seccion {
    margin-bottom: 25px;
}

.acciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.texto-formateado {
    white-space: pre-line;
    /* Respeta saltos de línea */
    line-height: 1.6;
}

.info-seccion h3 {
    border-left: 4px solid #f09b56;
    padding-left: 8px;
    color: #333;
}


@media (max-width: 768px) {
    .detalle-header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .btnAplicar {
        align-items: center;
        background-color: transparent;
    }

    .contacto-info {
        text-align: center;
    }
}