<app-cabecera></app-cabecera>
<div class="container">
    <h2 class="panel-title">
        <mat-panel-title>Panel de Control para Administradores</mat-panel-title>
    </h2>
    <mat-accordion class="responsive-accordion">
        <!-- Sección de Aplicaciones -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Aplicaciones: </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li *ngFor="let aplicacion of getPaginatedDataAplicaciones()" class="aplicacion-item">
                    <span style="display: block;"><strong>Aplicacion N°:</strong> {{ aplicacion.id_aplicacion }}</span>
                    <span style="display: block;"><strong>Propuesta:</strong> {{ aplicacion.oferta.descripcion }}</span>
                    <span style="display: block;"><strong>Empresa:</strong> {{ aplicacion.oferta.empresa.nombre
                        }}</span>
                    <span style="display: block;"><strong>Postulante:</strong> {{ aplicacion.perfil.nombre }}</span>
                    <span style="display: block;">
                        <strong>CV:</strong>
                        <a [href]="aplicacion.perfil.uploadvc" download>Descargar CV</a>
                    </span>
                    <span style="display: block;"><strong>Fecha de aplicacion:</strong> {{ aplicacion.fechaAplicacion
                        }}</span>
                    <span style="display: block;">
                        <strong>Activo:</strong> {{ aplicacion.estadoAplicaciones ? 'Si' : 'No' }}
                    </span>
                </li>
            </ul>

            <div class="pagination">
                <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
                <span>Página {{ currentPage }} de {{ getTotalPages() }}</span>
                <button (click)="changePage(currentPage + 1)"
                    [disabled]="currentPage === getTotalPages()">Siguiente</button>
            </div>
        </mat-expansion-panel>
        <!-- Sección de Empresas -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Empresas: </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="button-container">
                <button mat-raised-button color="primary" (click)="NuevaEmpresa()">Agregar Empresa</button>
            </div>
            <ul class="empresa-list">
                <li *ngFor="let empresa of getPaginatedDataEmpresas()" class="empresa-item">
                    <div class="descripcion">
                        <strong>Empresa: </strong> {{ empresa.nombre }}
                    </div>
                    <div class="botones">
                        <button mat-button color="accent" (click)="updateEmpresa(empresa)">Actualizar</button>
                        <button mat-button color="warn" (click)="deleteEmpresa(empresa)">Eliminar</button>
                    </div>
                </li>
            </ul>
            <div class="pagination">
                <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
                <span>Página {{ currentPage }} de {{ getTotalPages() }}</span>
                <button (click)="changePage(currentPage + 1)"
                    [disabled]="currentPage === getTotalPages()">Siguiente</button>
            </div>
        </mat-expansion-panel>
        <!-- Sección de Ofertas -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Ofertas: </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="button-container">
                <button mat-raised-button color="primary" (click)="NuevaOferta()">Agregar Oferta</button>

            </div>
            <ul>
                <li *ngFor="let oferta of getPaginatedDataOfertas()">
                    <strong>Descripción Oferta N°: {{ oferta.idOferta }}</strong>: {{ oferta.descripcionOferta }}
                    <div class="botones">
                        <button mat-button color="accent" (click)="updateOferta(oferta)">Actualizar</button>
                        <button mat-button color="warn" (click)="deleteOferta(oferta)">Eliminar</button>
                    </div>
                </li>
            </ul>
            <div class="pagination">
                <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
                <span>Página {{ currentPage }} de {{ getTotalPages() }}</span>
                <button (click)="changePage(currentPage + 1)"
                    [disabled]="currentPage === getTotalPages()">Siguiente</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>