@media (max-width: 768px) {
  .columna-titulo,
  .columna-imagen {
    display: none !important;
  }
  .panel-title{
    visibility: hidden;
  }
  .columna-contenido {
    width: 100% !important;
    min-height: 100vh;
    height: auto;
    background-color: #f09b56;
  }
  .grid-principal,
  .layout-fijo {
    width: 100%;
    overflow-x: hidden;
  }
 .contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 30px; /* ⬆ Subís la imagen ajustando este valor */
}

.contenedor-logo img {
  max-width: 100%;
  height: auto;
  max-height: 80vh;         /* Opcional: para evitar que la imagen sea muy grande */
  object-fit: contain;
}

.panel-title-accordion span {
    display: block;
    text-align: center;
    font-size: 1.6em;
    color: rgb(68, 63, 63);
  }

  .columna-titulo-Accordion,
  .panel-title-accordion {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: rgb(29, 27, 27);
   }
  .responsive-accordion, .mat-expansion-panel{
    width: 100%;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.grid-principal {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
}

.grid-titulo {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.grid-acordeon {
  padding: 24px 16px;
  overflow-y: auto;
}

.grid-imagen {
  background-image: url('../../assets/trabajadorPortada.avif'); /* ruta a tu imagen */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  height: 100%;
}

.layout-fijo {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Título a la izquierda fijo */
.columna-titulo {
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  height: 100vh;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 250px;
  margin-left: 10px;
  z-index: 2;
}


.panel-title span {
    display: block;
    text-align: center;
    font-size: 30px;
    color: rgb(29, 28, 28);
  }
/* Imagen fija a la derecha */
.columna-imagen {
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
  margin-top: 0px;
  overflow: hidden;
}

.columna-imagen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/trabajadorPortada.avif');
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

.panel-title{
  margin-left: 10px;
  margin-top: 200px;
  opacity: 0.9;
  color: rgb(36, 2, 2) !important;
  z-index: 2;
}

/* Acordeón scrollable */
.columna-contenido {
  grid-column: 2 / 3;
  height: 100vh;
  width: 80%;
  padding: 2%;
  z-index: 1;
  background-color: #f09b56;
}
.barra-ofertas-superior {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}
.botones-inferiores{
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}
.columna-titulo-Accordion, .panel-title-accordion{
  align-items: center;
  display: none;
}

.contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 50px; /* ⬆ Subís la imagen ajustando este valor */
}

.contenedor-logo img {
  max-width: 100%;
  height: auto;
  max-height: 80vh;         /* Opcional: para evitar que la imagen sea muy grande */
  object-fit: contain;
}