@media (max-width: 768px) {

  .responsive-accordion,
  .mat-expansion-panel {
    width: 100%;
  }

  .columna-imagen {
    display: none !important;
  }
}

.grid-imagen {
  background-image: url('../../assets/trabajadorPortada.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  height: 100%;
}

.layout-fijo {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #f09b56;
}

/* Título a la izquierda fijo */
.columna-titulo {
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 250px;
  margin-left: 10px;
  z-index: 2;
}


.panel-title span {
  display: block;
  text-align: center;
  font-size: 30px;
  color: rgb(29, 28, 28);
}

/* Imagen fija a la derecha */
.columna-imagen {
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
  margin-top: 0px;
  overflow: hidden;
}

.columna-imagen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/trabajadorPortada.avif');
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

.panel-title {
  margin-left: 10px;
  margin-top: 200px;
  opacity: 0.9;
  color: rgb(36, 2, 2) !important;
  z-index: 2;
}

.columna-contenido {
  grid-column: 2 / 3;
  height: 100vh;
  width: 80%;
  padding: 2%;
  z-index: 1;
  background-color: #f09b56;
}

.barra-ofertas-superior {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.botones-inferiores {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.columna-titulo-Accordion,
.panel-title-accordion {
  align-items: center;
  display: none;
}

.contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 50px;
}

.contenedor-logo img {
  max-width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}