.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-cabecera {
  flex: 0 1 auto; /* Ocupa solo el espacio necesario */
}

app-cuerpo {
 min-height: calc(100vh - 100px); /* Ajusta según la altura de la cabecera y el pie de página */
  display: block;
}

app-piedepagina {
  flex: 0 1 auto; /* Ocupa solo el espacio necesario */
}