@media (max-width: 768px) {
   main {
    padding-top: 130px; /* Ajustalo al alto real del header en mobile */
  }
}
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-cabecera {
  flex: 0 1 auto; /* Ocupa solo el espacio necesario */
}

app-cuerpo {
 min-height: calc(100vh - 100px);
  display: block;
}

app-piedepagina {
  flex: 0 1 auto; /* Ocupa solo el espacio necesario */
}