.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-cabecera {
  flex: 0 1 auto; /* Ocupa solo el espacio necesario */
}

app-cuerpo {
  flex: 1 1 auto; /* Ocupa todo el espacio disponible */
}

app-piedepagina {
  flex: 0 1 auto; /* Ocupa solo el espacio necesario */
}
