mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

mat-card-header {
  text-align: center;
}

mat-card-actions {
  text-align: center;
  margin-top: 20px;
}
.register-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: 
    linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
    url('/assets/postulante2.jpg') no-repeat center center;
  background-size: cover;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}
