mat-card {
  width: 400px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: 
    linear-gradient(rgba(240, 163, 118, 0.85), rgba(255,255,255,0.85)),
    url('/assets/postu1.jpg') no-repeat center center;
  background-size: cover;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
} 
.alert-warning {
  background-color: #fff3cd;
  color: #856404;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}
