.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  mat-card {
    width: 400px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }  