<nav class="navbar bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" (click)="menuAbierto = !menuAbierto" aria-label="Abrir menú de navegación">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav" *ngIf="menuAbierto">
            <li class="nav-item" *ngIf="!userLoginOn">
                <a class="nav-link active" [routerLink]="'/login-user'">Iniciar Sesión</a>
            </li>
            <li class="nav-item" *ngIf="userLoginOn">
                <a class="nav-link active" [routerLink]="'/login-user'">Cerrar Sesión</a>
            </li>
            <li class="nav-item" *ngIf="!userLoginOn">
                <a class="nav-link active" [routerLink]="'/usuariocontrol'">Registrarse</a>
            </li>
            <li class="nav-item dropdown" *ngIf="userLoginOn">
                <!-- Opciones de perfil -->
            </li>
        </ul>
    </div>
</nav>